*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F4F9FD;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

.box{
  width: 65%;
  margin: auto;
  /* debug */
  height: 100%;
}

/* Nav */
nav{
  height: 80px;
  background-color: #F4F9FD;
}

nav:first-child{
  border-bottom: 1px solid #33475B;
}

nav:last-of-type{
  background-color: white;
}

nav *:not(ul *){
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
}

nav span, a{
  margin: 0 15px;
  display: inline-block;
  text-decoration: none;
  color: #33475B;
}

#vl{
  height: 20%;
  border-left: 1.5px solid #33475B;
  display: inline-block;
  margin-left: 15px;
}

nav button, .fa-search{
  float: right;
}

nav button{
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
}

.fa-search{
  color: #00A4BD;
}

button[name=login]{
  color: #FE775A;
  background-color: white;
  border: 1px solid #FE775A;
}

button[name=get]{
  color: white;
  background-color: #FE775A;
  border: none;
}

nav img{
  width: 120px;
}

nav ul{
  float: right;
}

nav ul li{
  margin-left: 15px;
}

ul li{
  display: inline-block;
}

li a{
  font-weight: 500;
  margin: 0;
}

ul .fa-chevron-down{
  margin-left: 10px;
}

/* Header */
header{
  height: 630px;
  background-color: #FFF1EE;
  background-image: url('../img/jumbotron.png');
  background-size: 80%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#cover{
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  transform: translateY(-100%);
}

#cover{
  display: inline-block;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}

header div:not(.box, #cover){
  width: 50%;
  position: relative;
  top: 50px;
}

header h1{
  font-size: 50px;
}

p{
  line-height: 1.6em;
  margin: 30px 0;
}

 button{
  padding: 20px 40px;
  border-radius: 5px;
}

header span{
  font-size: 13px;
  margin: 30px 0;
  display: block;
}

/* MAIN */
.horizontal{
  margin: 20px 0;
  border-radius: 5px;
}

.horizontal::after{
  content: '';
  display: table;
  clear: both;
}

.horizontal:first-child{
  text-align: center;
}

.horizontal:nth-of-type(2){
  padding: 60px 0;
  background-color: white;
  box-shadow: 0 0 5px lightgrey;
}

img[alt=cube]{
  width: 300px;
  margin-top: 20px;
}

h2{
  font-size: 30px;
}

.horizontal>p{
  width: 70%;
  font-weight: 500;
  margin: 30px auto;
}

.contained{
  display: inline-block;
  float: left;
}

.contained:first-child{
  width: 20%;
  margin-left: calc((100% - 75%) / 3);
  text-align: center;
}

.contained:last-child{
  width: 55%;
  margin: 0 calc((100% - 75%) / 3);
}

.contained img{
  width: 125px;
  margin-bottom: 20px;
}

h3{
  font-size: 20px;
}

.contained p{
  margin: 25px 0 20px;
}

.contained hr{
  width: 350px;
  border-top: 2px solid lightgrey;
  float: right;
  display: inline-block;
  position: relative;
  top: 7px;
}

.contained h4{
  display: inline-block;
}

.contained li{
  margin: 25px 20px 0 0;
}

li .fa-check-circle{
  margin-right: 15px;
  color: #FE775A;
}

/* ASIDE */
#first aside{
  width: 30%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  text-align: center;
  padding: 20px 25px;
  margin-top: 30px;
  float: left;
}

#first aside:nth-of-type(2){
  margin: 30px 5%;
}

#first aside img{
  height: 100px;
}

#first aside ul{
  text-align: left;
}

#first aside li{
  display: block;
}

#first aside h3, #first aside p, #first aside h4, #first aside ul{
  margin: 20px 0;
}

#first aside hr{
  margin-top: 60px;
}

#first aside button{
  margin-top: 30px;
}

#second{
  width: 100%;
  padding: 40px 0 80px;
  margin: 40px 0;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top right, #00A4BC, #00BCA5);
}

/* TABLE */
.tab{
  width: 25%;
  height: 175px;
  border-right: 1px solid white;
  float: left;
}

.first-row{
  margin-top: 40px;
}

.first-row .tab{
  border-bottom: 1px solid white;
}

.tab:last-child{
  border-right: none;
}

.container{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tab img{
  height: 35px;
  max-width: 130px;
  display: block;
  margin: auto;
}

.data{
  font-size: 45px;
  font-weight: 700;
  vertical-align: middle;
  display: inline-block;
  margin: 10px 0;
}

.plus{
  font-size: 25px;
  font-weight: 300;
  vertical-align: middle;
  margin-left: 10px;
}

.description{
  display: block;
  font-size: 15px;
  font-weight: 300;
}

#third .box{
  position: relative;
}

#partners{
  width: 55%;
}

#third h1{
  font-size: 40px;
}

.logos{
  width: 60%;
  position: absolute;
  top: 30px;
  right: 0;
}

.logos img{
  width: 100px;
  vertical-align: middle;
  margin: 10px;
}

#third h1+p{
  width: 200px;
}

section::after{
  content: '';
  display: table;
  clear: both;
}

#cta{
  width: 40%;
  margin: 50px 0;
  display: inline-block;
}
#cta+img{
  margin: 40px 0;
  height: 350px;
  float: right;
}

/* Footer */
footer{
  color: white;
  background-color: #33475B;
  padding: 20px 0;
}

footer aside{
  width: 25%;
  float: left;
}

footer strong{
  display: inline-block;
  margin: 15px 0;
}

footer li{
  display: block;
  margin: 15px 0;
}

footer li a{
  color: #CAD5E1;
}

button[name=contact]{
  border: none;
  padding: 10px;
  margin: 10px 0;
}

.links a{
  color: #CAD5E1;
  margin: 10px 20px 0 0;
}

footer img+.links{
  display: inline-block;
  float: right;
}

#languages{
  margin: 80px auto 0;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#languages li{
  display: inline-block;
  margin: 0 10px;
}

footer hr{
  margin: 20px 0 40px;
}

footer:after{
  content: '';
  display: table;
  clear: both;
}
