*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F4F9FD;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

.box{
  width: 65%;
  margin: auto;
  /* debug */
  height: 100%;
}

/* Nav */
nav{
  height: 80px;
  background-color: #F4F9FD;
}

nav:first-child{
  border-bottom: 1px solid #33475B;
}

nav:last-of-type{
  background-color: white;
}

nav *:not(ul *){
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
}

nav span, nav a{
  margin: 0 15px;
  display: inline-block;
  text-decoration: none;
  color: #33475B;
}

#vl{
  height: 20%;
  border-left: 1.5px solid #33475B;
  display: inline-block;
  margin-left: 15px;
}

nav button, .fa-search{
  float: right;
}

nav button{
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
}

.fa-search{
  color: #00A4BD;
}

button[name=login]{
  color: #FE775A;
  background-color: white;
  border: 1px solid #FE775A;
}

button[name=get]{
  color: white;
  background-color: #FE775A;
  border: none;
}

nav img{
  width: 120px;
}

nav ul{
  float: right;
}

ul li{
  display: inline-block;
  margin-left: 15px;
}

li a{
  font-weight: 500;
  margin: 0;
}

ul .fa-chevron-down{
  margin-left: 10px;
}

/* Header */
header{
  height: 630px;
  background-color: #FFF1EE;
  background-image: url('../img/jumbotron.png');
  background-size: 80%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#cover{
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  transform: translateY(-100%);
}

#cover{
  display: inline-block;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}

header div:not(.box, #cover){
  width: 50%;
  position: relative;
  top: 50px;
}

header h1{
  font-size: 50px;
}

header p{
  line-height: 2em;
  margin: 30px 0;
}

 button{
  padding: 20px 40px;
  border-radius: 5px;
}

header span{
  font-size: 13px;
  margin: 30px 0;
  display: block;
}

/* Main */
section{
  /* debug */
  border-bottom: 2px solid #33475B;
}

.horizontal{
  margin: 20px 0;
  border-radius: 5px;
}

.horizontal::after{
  content: '';
  display: table;
  clear: both;
}

.horizontal:first-child{
  text-align: center;
}

.horizontal:nth-of-type(2){
  padding: 60px 0;
  background-color: white;
  box-shadow: 0 0 5px lightgrey;
}

img[alt=cube]{
  width: 300px;
  margin-top: 20px;
}

.horizontal h2{
  font-size: 30px;
}

.horizontal>p{
  width: 70%;
  font-weight: 500;
  line-height: 2em;
  margin: 30px auto;
}

.contained{
  display: inline-block;
  float: left;
}

.contained:first-child{
  width: 20%;
  margin-left: calc((100% - 75%) / 3);
  text-align: center;
}

.contained:last-child{
  width: 55%;
  margin: 0 calc((100% - 75%) / 3);
}

.contained img{
  width: 125px;
  margin-bottom: 20px;
}

.contained h3{
  font-size: 20px;
}

.contained p{
  margin: 25px 0 20px;
}

.contained hr{
  width: 350px;
  border-top: 2px solid lightgrey;
  float: right;
  display: inline-block;
  position: relative;
  top: 7px;
}

.contained h4{
  display: inline-block;
}

.contained li{
  margin: 25px 20px 0 0;
}

li .fa-check-circle{
  margin-right: 15px;
  color: #FE775A;
}

#first aside{
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  float: left;
  /* debug */
  height: 600px;
  background-color: white;
}

#first aside:nth-of-type(2){
  margin: 0 5%;
}

#second{
  background-image: linear-gradient(to top right, #00A4BC, #00BCA5);
  /* debug */
  height: 500px;
}

#third aside{
  width: 50%;
  float: left;
  /* DEBUG:*/
  height: 400px;
  border: 1px solid grey;
  background-color: white;
}

section::after{
  content: '';
  display: table;
  clear: both;
}

/* Footer */
footer{
  background-color: #33475B;
}

footer aside{
  width: 25%;
  float: left;
  /* DEBUG:*/
  height: 400px;
  border: 1px solid grey;
  background-color: white;
}

footer:after{
  content: '';
  display: table;
  clear: both;
}
